.index-main{
    background-color:#2242D8;
}
.navlink{
   border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 200px;
    transition: 0.5;

}
.navlink:hover{
    background-color: #04D498;
border:2px solid #04D498;
color: white;
}

.poly5{
color: red;
font-weight: bolder;
font-size: x-large;

    
}
.poly4{
    color: #fbff04;
    font-weight: 600;
}
.p-title{
    color:#2242D8;

    font-weight: 800;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 5px solid  #2242D8; ;
    margin-left: 500px;
    margin-right: 500px;
 
}
.p-desc{
color: gray;
font-weight: 500;
border: 5px solid  #2242D8;
padding: 30px;
line-height: 200%;
}
.name{
    color:   #2242D8;
    border-bottom: 2px solid  #2242D8;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 5px;
}
.p-desc:hover{
background-color: #04D498;
border:5px solid black;
color: white;


}
.images{
    width: 560px;
    height: 100px;
    padding-bottom: 400px;
}
.imao{
    width: 40%;
 
}
.child1{
    transition: .2s;
}
.child1:hover{
    transform: scale(1.5)
}

.child-2child{
    transition: .2s;
}
.child-2child:hover{
    transform: scale(1.5);
}

.about{
    margin-top: 100px;
}

.abouts{

}
.video{
    border: 10px solid #04D498;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
}
.v-title{
    color: #04D498;
    border-bottom: 3px solid  #04D498;
    margin-left:200px;
    margin-right: 200px;
    margin-bottom: 10px;
}

#more ,#more1 ,#more2, #more3 ,#more4 ,#more5{
    display: none;
}
.descs{
    color: gray;
    font-weight: 600;
    text-align: center;
    line-height: 200%;
}
#mybtn ,#mybtn1 ,#mybtn2, #mybtn3,#mybtn4,#mybtn5 {
    border: none;
    background-color:#04D498;
    color: white;
    font-weight: bold;
    padding: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 30px;

}
#mybtn:hover ,#mybtn1:hover ,#mybtn2:hover, #mybtn3:hover,#mybtn4:hover,#mybtn5:hover{
    background-color: #2242D8;
}

.p{
    margin: 0 400px 0 400px
}



.imgs{
    border-radius: 10px;
 width: 600px;
 transition: .3s;
}
.imgs:hover{
    transform: scale(1.2);
}
.ps{
    color: #04D498;
    border-bottom: 5px solid #04D498;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 5px;
}

.ps1{
    color: #04D498;
    border-bottom: 5px solid #04D498;
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
    padding-bottom: 5px
}

.logo{


}
.logos{
    background-color: #04D498;
    padding: 15px;
    border-radius: 50%;
}
.textss{
    color:#04D498;
}

label{
    color: black;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;

    padding-bottom: 5px;
}
input{
    padding: 40px;
}


.btns{
    color:black;
    background-color:#04D498;
    color: white;
    border: none;
    padding: 14px 18px;
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: 600;
  border-radius: 5px;

}
.foots{

    margin-left: -111px;
    margin-right: -111px;
}